*.py[co]
*.pyc
build/
dist/
*.so
*.sw[po]
nosetests.xml
.DS_Store
*.egg-info
*.egg
!.gitignore
*.orig

node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
src/express/static/
static-src/bower_components
static-src/styles/*.css
*.log
